/*••••••••••••••••••••••••••••••••••••••••••••
    Main styling sheet for Camagru
••••••••••••••••••••••••••••••••••••••••••••*/
body{
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Courier New', Courier, monospace;
}
.continer{
    width: 100%;
    height: 100%;
}
/*••••••••••••••••••••••••••••••••••••••••••••••
                    HEADER               
••••••••••••••••••••••••••••••••••••••••••••••*/
header{
    background-color: azure;
    width: 100%;
    height: 10%;
    padding-top: 2px;
    margin-bottom: 1px;
    box-shadow: 5px 5px 8px grey;
    overflow: auto;
    position: relative;
}
/*••••••••••••••••••••••••••••••••••••••••••••••••
                    FOOTER              
•••••••••••••••••••••••••••••••••••••••••••••••••*/
footer{
    background-color: azure;
    width: 100%;
    height: 15%;
    clear: both;
    text-align: center;
    padding: 5px 0 5px 0;
    box-shadow: 5px 5px 8px grey;
}
/*••••••••••••••••••••••••••••••••••••••••••••••••
          MAIN CONTAINER         
•••••••••••••••••••••••••••••••••••••••••••••••••*/
.main-container{
    width: 70%;
    height: 600px;
    margin: 20px 0 20px 0;
    float: left;
    box-shadow: 5px 5px 8px grey;
}
.main-container img{
    width: 100%;
    height: 100%;
}
/*•••••••••••••••••••••••••••••••••••••••••••••••••••
          USER CONTAINER        
•••••••••••••••••••••••••••••••••••••••••••••••••••*/
.user-container{
    text-align: center;
    background-color: #F1F1F1;
    width: 28%;
    height: 580px;
    margin: 20px 0 20px 0;
    float: right;
    padding: 10px 0 10px 0;
    box-shadow: 5px 5px 8px grey;
}
.user-container button{
    width: 80%;
    height: 38px;
    box-sizing: border-box;
    background-color: azure;
    border: 1px solid azure;
}
.user-container button:hover{
    box-shadow: 5px 5px 8px grey;
}
input[type=text], input[type=password], input[type=email]{
    width: 80%;
    padding: 12px 12px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid azure;
    box-sizing: border-box;
}
.login input{
    width: 15%;
    padding: 12px 12px;
    margin: 5px 0;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
}
.login button{
    width: 8%;
    height: 38px;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
}
.login button:hover{
    box-shadow: 5px 5px 8px grey;
    border: 1px solid #F1F1F1;
}
.user-profile input{
    display: inline-block;
}
/*••••••••••••••••••••••••••••••••••••••••••••••••••
                    VIDEO CONTAINER        
••••••••••••••••••••••••••••••••••••••••••••••••••*/
.video-container{
    text-align: center;
    width: 50%;
    height: 600px;
    margin: 20px 0 20px 0;
    float: left;
    background-color: #F1F1F1;
    box-shadow: 5px 5px 8px grey;
}
.video-container video{
    width: 100%;
    height: 80%;
}
/*••••••••••••••••••••••••••••••••••••••••••••••••••
                    GALLERY DIV      
••••••••••••••••••••••••••••••••••••••••••••••••••*/
.gallery{
    width: 40%;
    height: 600px;
    text-align: center;
    margin: 20px 0 20px 0;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 8px grey;
    float: right;
}
.gallery img{
    width: 20%;
    height: 20%;
}
#gallery-canvas{
    margin-left: 25%;
    margin-right: 50%;
    width: 50%;
    height: 27%;
}
#gallery-canvas img{
    width: 20%;
    height: 20%;
}
#canvas{
    display: none;
}
.gallery-container{
    height: 60%;
    width: 100%;
}
.gallery-container img{
    height: 60%;
    width: 50%;
    margin: 0% 25% 0% 25%;
    box-shadow: 5px 5px 8px grey;
}
.gallery-container p{
    margin-left: 25%;
    font-style: inherit;
}
.edited{
    clear: both;
    margin-top: 7%;
    width: 100%;
    height: 200px;
    margin: 2% 0 2% 0;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 8px grey;
}
#edited img{
    height: 80%;
    width: 15%;
    margin: 2% 2% 2% 2%;
    border: 1px solid azure;
    box-shadow: 5px 5px 8px grey;
    overflow: hidden;
}
.filters-container img{
    height: 80px;
    width: 80px;
}
.filters{
    float: left;
    width: 80px;
    height: 100px;
    background-color: azure;
    margin: 6px 0 0 6px;
}
.filters img{
    width: 80px;
    height: 100px;
}
.filters img:hover{
    box-shadow: 5px 5px 8px grey;
}
.superpose{
    background-color: #f1f1f1;
    float: left;
    height: 50%;
}
.edit-panel{
    height: 50%;
    background-color: #f1f1f1;
    width: 100%;
}
.edit-panel img{
    width: 50%;
    height: 30%;
}
/*••••••••••••••••••••••••••••••••••••••••••••••••••
                TAKE/UPLOAD BUTTON        
••••••••••••••••••••••••••••••••••••••••••••••••••*/
#photo, #upload-photo{
    width: 50%;
    height: 8%;
    margin-bottom: 1%;
    background-color: azure;
    border: 1px solid azure;
    font-size: 16px;
}
.upload-photo{
    width: 50%;
    height: 8%;
    margin-bottom: 1%;
    background-color: azure;
    border: 1px solid azure;
    font-size: 16px;
}
.upload-photo:hover{
    border: 1px solid azure;
    box-shadow: 5px 5px 8px grey;
}
#photo:hover, #upload-photo:hover{
    border: 1px solid azure;
    box-shadow: 5px 5px 8px grey;
}
#filter{
    width: 50%;
    height: 8%;
}

hr{
    width: 50%;
}
/*••••••••••••••••••••••••••••••••••••••••••••••••••
                    NAVIGATION BAR        
••••••••••••••••••••••••••••••••••••••••••••••••••*/
#logo{
    float: left;
    margin-left: 5%;
}
#logo a{
    text-decoration: none;
    color: black;
}
#gal{
    float: left;
    margin: 1.2% 5% 0 5%;
    color: black;
}
#gal li{
    display: inline;
    list-style-type: none;
}
#gal a{
    text-decoration: none;
    color: black;
}
#login{
    margin-left: 10%;
}
/*••••••••••••••••••••••••••••••••••••••••••••••••••••
            USER PROFILE SETTINGS
••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.tab {
    overflow: hidden;
    box-shadow: 5px 5px 8px grey;
    background-color: azure;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}
.tab button:hover {
    background-color: antiquewhite;
}
.tab button.active {
    background-color: antiquewhite;
}
.tabcontent {
    background-color: #f1f1f1;
    display: none;
    padding: 6px 12px;
    box-shadow: 5px 5px 8px grey;
    border-top: none;
    height: 500px;
    position: relative;
    margin-bottom: 2%;
}
.tabcontent input{
    margin-left: 10%;
}
.user-profile p, h3{
    margin-left: 10%;
}
/*••••••••••••••••••••••••••••••••••••••••••••••••••••
                ACTIVATION PAGE
••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.activation{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
.user-profile #upload-photo{
    margin-left: 25%;
}
/*••••••••••••••••••••••••••••••••••••••••••••••••••••
                INFINITE SCROLLING
••••••••••••••••••••••••••••••••••••••••••••••••••••*/
#infinite-list {
    width: 97.5%;
    height: 100%;
    overflow: auto;
    float: left;
    margin: 30px 0 30px 0;
    box-shadow: 5px 5px 8px grey;
    margin-right: 0;
  }
  #like, #comment{
      margin-left: 25%;
      box-shadow: 5px 5px 8px grey;
  }
  #like{
      background-color: azure;
      width: 10%;
      height: 10%;
      float: left;
  }
  #comment{
    background-color: azure;
    width: 10%;
    height: 10%;
  }
  #comment-box{
      margin-left: 25%;
      width: 49.7%;
      height: 20%;
      border: 1px solid azure;
      box-shadow: 5px 5px 8px grey;
      margin-top: 0.5%;
  }
  #delete-post{
    background-color: azure;
    width: 10%;
    height: 10%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 8px grey;
    margin: 2% 25% 5% 25%
  }
  strong{
      margin-left: 25%;
  }
/*••••••••••••••••••••••••••••••••••••••••••••••••••••
                PAGINATION
••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
/*••••••••••••••••••••••••••••••••••••••••••••••••••••
                FORGOT PASSWORD
••••••••••••••••••••••••••••••••••••••••••••••••••••*/
.forgot-password{
    padding: 2%;
    margin: 5% 25% 5% 25%;
    height: 600px;
    width: 50%;
    background-color: #f1f1f1;
    box-shadow: 5px 5px 8px grey;
}
.alert{
    color: white;
    background-color: red;
    width: 80%;
    height: 11%;
    margin: 5% 9% 0 9%;
    box-shadow: 5px 5px 8px grey;
}
.success{
    color: white;
    background-color: green;
    width: 80%;
    height: 11%;
    margin: 5% 9% 0 9%;
    box-shadow: 5px 5px 8px grey;
}
.pages{
    text-decoration: none;
}
